@media (min-width: 541px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) {
  /* Oculta o botão hamburger */
  #hamburger-btn {
    display: none;
  }

  /* Exibe a navegação horizontal */
  .site-nav {
    display: block;
  }

  nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  nav a {
    font-size: 1.1rem;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    gap: 1.5rem;
  }

  .temple-card {
    margin: 0;
  }

  figcaption {
    font-size: 1.2rem;
  }

  footer {
    font-size: 1rem;
    padding: 1.5rem;
  }
}
